<html>
  <head>
    <title>Template Example</title>
  </head>
  <body>
    <div>
      <div>
        <div>LOGO</div>
      </div>
      <div>
        <div>{{formType}} {{formNumber}} has been marked as {{formStatus}}</div>
        <div>We'll let you know when it changes status again</div>
        <div>Creator: {{userName}}</div>
        <div>TBD: {{companyName}}</div>
        <a>View Form</a>
        <a href='{{formUrl}}'>Check</a>
        <div>Thanks,</div>
        <div>The Payload eManifest Team</div>
      </div>
      <div>
        <a href='http://www.payload.com'>www.payload.com</a>
        <div>500 4th Avenue SW</div>
        <div>Suite 2210</div>
        <div>Calgary AB T2P 2V6</div>
        <div>Canada</div>
      </div>
    </div>
  </body>
</html>
